/* CSS for Cart.html */

.container {
    margin-top: 80px;
  }
  
  .card {
    margin-bottom: 20px;
    border: none;
  }
  
  .card-body {
    display: flex;
    align-items: center;
  }
  
  .card-img-top {
    height: 120px;
  }
  
  .cart-item-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .cart-item-price {
    font-size: 16px;
  }
  
  .cart-item-quantity {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .subtotal {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .checkout-btn {
    margin-top: 20px;
  }
  .btn-checkout {
    font-size: 1rem;
    padding: .5rem 1rem;
  }
  
  
  .empty-cart-message {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
  }
  
  @media only screen and (min-width: 768px) {
    .cart-item-title {
      font-size: 24px;
    }
    
    .cart-item-price, .cart-item-quantity {
      font-size: 18px;
    }
    
    .subtotal {
      font-size: 32px;
    }
  }

  
  